<html> 
<body> 
  <h3>Income Prediction Form</h3> 

<div> 
<form action="/result" method="POST"> 
 
  <label for="satisfaction_level">satisfaction_level </label> 
  <input type="text" id="satisfaction_level" name="satisfaction_level">btw:[0-1] 
  <br> 
  <label for="last_evaluation">last_evaluation</label> 
  <input type="text" id="last_evaluation" name="last_evaluation">btw:[0-1] 
  <br> 
  <label for="number_project">number_project</label> 
  <input type="text" id="number_project" name="number_project">btw:[1-99] 
  <br> 
  <label for="average_montly_hours">average_montly_hours</label> 
  <input type="text" id="average_montly_hours" name="average_montly_hours">btw:[-] 
  <br>
  <label for="time_spend_company">time_spend_company</label> 
  <input type="text" id="time_spend_company" name="time_spend_company">btw:[] 
  <br> 
  <label for="Work_accident">Work_accident</label> 
  <input type="text" id="Work_accident" name="Work_accident">btw:[{0,1}] 
  <br>  
  <label for="promotion_last_5years">promotion_last_5years</label> 
  <input type="text" id="promotion_last_5years" name="promotion_last_5years">btw:[{0,1}] 
  <br> 
  <label for="salary">salary</label> 
  <select id="salary" name="salary"> 
  <option value="0">low</option> 
  <option value="1">medium</option> 
  <option value="2">high</option> 
  </select> 
  <br> 
  <input type="submit" value="Submit"> 
</form> 
</div> 
</body> 
</html> 
